{% extends "country.html" %}
{% load linkbuilder %}

{% block link %}{% if gambler_id != 0 and casino.link_br %}{{ casino.link_br | build:gambler_id }}{% else %}{{ casino.link_br }}{% endif %}{% endblock %}
{% block link0 %}{% if gambler_id != 0 and casino.link_br %}{{ casino.link_br | build:gambler_id }}{% else %}{{ casino.link_br }}{% endif %}{% endblock %}
{% block link1 %}{% if gambler_id != 0 and casino.link_br %}{{ casino.link_br | build:gambler_id }}{% else %}{{ casino.link_br }}{% endif %}{% endblock %}
{% block link1-1 %}{% if gambler_id != 0 and casino.link_br %}{{ casino.link_br | build:gambler_id }}{% else %}{{ casino.link_br }}{% endif %}{% endblock %}
{% block link2 %}{% if gambler_id != 0 and casino.link_br %}{{ casino.link_br | build:gambler_id }}{% else %}{{ casino.link_br }}{% endif %}{% endblock %}
{% block link3 %}{% if gambler_id != 0 and casino.link_br %}{{ casino.link_br | build:gambler_id }}{% else %}{{ casino.link_br }}{% endif %}{% endblock %}
{% block link4 %}{% if gambler_id != 0 and casino.link_br %}{{ casino.link_br | build:gambler_id }}{% else %}{{ casino.link_br }}{% endif %}{% endblock %}
{% block link5 %}{% if gambler_id != 0 and casino.link_br %}{{ casino.link_br | build:gambler_id }}{% else %}{{ casino.link_br }}{% endif %}{% endblock %}
{% block link6 %}{% if gambler_id != 0 and casino.link_br %}{{ casino.link_br | build:gambler_id }}{% else %}{{ casino.link_br }}{% endif %}{% endblock %}

{% block title %}Melhores Casinos Online em Brasil{% endblock %}

{% block welcome %}Bono de Bienvenida{% endblock %}

{% block button %}Obtener Gratis{% endblock %}

{% block button1 %}Obtener Gratis{% endblock %}

{% block bonus %}BONUS{% endblock %}

{% block fs %}RODADA{% endblock %}

{% block info %}INFORMACAO{% endblock %}

{% block adv %}
	{% if casino.adv1_br %}<li>{{ casino.adv1_br }}</li>{% endif %}
	{% if casino.adv2_br %}<li>{{ casino.adv2_br }}</li>{% endif %}
	{% if casino.adv3_br %}<li>{{ casino.adv3_br }}</li>{% endif %}
{% endblock %}

{% block mindep %}Mínimo depósito{% endblock %}

{% block license %}Licenca{% endblock %}

{% block pay %}PAGAMENTO{% endblock %}

{% block adv2 %}
	{% if casino.adv1_br %}<li>{{ casino.adv1_br }}</li>{% endif %}
	{% if casino.adv2_br %}<li>{{ casino.adv2_br }}</li>{% endif %}
	{% if casino.adv3_br %}<li>{{ casino.adv3_br }}</li>{% endif %}
{% endblock %}

{% block payments %}
	{% for pay in casino.pay_br.all %}
		{% if forloop.counter <= 9 %}
		<a href="{% if gambler_id != 0 and casino.link_br %}{{ casino.link_br | build:gambler_id }}{% else %}{{ casino.link_br }}{% endif %}" target="_blank">
			<img class="game-card__bank-img" src="{{ pay.logo.url }}" title="{{ pay.name }}" alt="{{ pay.name }}" />
		</a>
		{% endif %}
	{% endfor %}
{% endblock %}

{% block play %}JOGAR{% endblock %}

{% block copy %}Todos Os Direitos Reservados{% endblock %}