{% extends "country.html" %}
{% load linkbuilder %}

{% block link %}{% if gambler_id != 0 and casino.link_ch %}{{ casino.link_ch | build:gambler_id }}{% else %}{{ casino.link_ch }}{% endif %}{% endblock %}
{% block link0 %}{% if gambler_id != 0 and casino.link_ch %}{{ casino.link_ch | build:gambler_id }}{% else %}{{ casino.link_ch }}{% endif %}{% endblock %}
{% block link1 %}{% if gambler_id != 0 and casino.link_ch %}{{ casino.link_ch | build:gambler_id }}{% else %}{{ casino.link_ch }}{% endif %}{% endblock %}
{% block link1-1 %}{% if gambler_id != 0 and casino.link_ch %}{{ casino.link_ch | build:gambler_id }}{% else %}{{ casino.link_ch }}{% endif %}{% endblock %}
{% block link2 %}{% if gambler_id != 0 and casino.link_ch %}{{ casino.link_ch | build:gambler_id }}{% else %}{{ casino.link_ch }}{% endif %}{% endblock %}
{% block link3 %}{% if gambler_id != 0 and casino.link_ch %}{{ casino.link_ch | build:gambler_id }}{% else %}{{ casino.link_ch }}{% endif %}{% endblock %}
{% block link4 %}{% if gambler_id != 0 and casino.link_ch %}{{ casino.link_ch | build:gambler_id }}{% else %}{{ casino.link_ch }}{% endif %}{% endblock %}
{% block link5 %}{% if gambler_id != 0 and casino.link_ch %}{{ casino.link_ch | build:gambler_id }}{% else %}{{ casino.link_ch }}{% endif %}{% endblock %}
{% block link6 %}{% if gambler_id != 0 and casino.link_ch %}{{ casino.link_ch | build:gambler_id }}{% else %}{{ casino.link_ch }}{% endif %}{% endblock %}

{% block title %}I migliori casinò online in Svizzera{% endblock %}

{% block welcome %}Welcome Bonus{% endblock %}

{% block button %}Get Free{% endblock %}

{% block button1 %}Get Free{% endblock %}

{% block bonus %}BONUS{% endblock %}

{% block fs %}GRATIS ROTAZIONE{% endblock %}

{% block info %}INFORMAZIONE{% endblock %}

{% block adv %}
	{% if casino.adv1_ch %}<li>{{ casino.adv1_ch }}</li>{% endif %}
	{% if casino.adv2_ch %}<li>{{ casino.adv2_ch }}</li>{% endif %}
	{% if casino.adv3_ch %}<li>{{ casino.adv3_ch }}</li>{% endif %}
{% endblock %}

{% block mindep %}Deposito minimo{% endblock %}

{% block license %}Licenza{% endblock %}

{% block pay %}SISTEMA DI PAGAMENTO{% endblock %}

{% block adv2 %}
	{% if casino.adv1_ch %}<li>{{ casino.adv1_ch }}</li>{% endif %}
	{% if casino.adv2_ch %}<li>{{ casino.adv2_ch }}</li>{% endif %}
	{% if casino.adv3_ch %}<li>{{ casino.adv3_ch }}</li>{% endif %}
{% endblock %}

{% block payments %}
	{% for pay in casino.pay_ch.all %}
		{% if forloop.counter <= 9 %}
		<a href="{% if gambler_id != 0 and casino.link_ch %}{{ casino.link_ch | build:gambler_id }}{% else %}{{ casino.link_ch }}{% endif %}" target="_blank">
			<img class="game-card__bank-img" src="{{ pay.logo.url }}" title="{{ pay.name }}" alt="{{ pay.name }}" />
		</a>
		{% endif %}
	{% endfor %}
{% endblock %}

{% block play %}GIOCA ORA{% endblock %}

{% block copy %}Tutti i diritti riservati{% endblock %}