{% extends "country.html" %}
{% load linkbuilder %}

{% block lang %}cz{% endblock %}

{% block title %}Nejlepší online kasina v České republice{% endblock %}

{% block welcome %}Welcome Bonus{% endblock %}

{% block button %}Get Free{% endblock %}

{% block button1 %}Get Free{% endblock %}

{% block bonus %}BONUS{% endblock %}

{% block fs %}FREE SPIN{% endblock %}

{% block info %}INFORMACE{% endblock %}

{% block adv %}
	{% if casino.adv1 %}<li>{{ casino.adv1 }}</li>{% endif %}
	{% if casino.adv2 %}<li>{{ casino.adv2 }}</li>{% endif %}
	{% if casino.adv3 %}<li>{{ casino.adv3 }}</li>{% endif %}
{% endblock %}

{% block mindep %}Min vklad{% endblock %}
{% block mindep-desk %}Min vklad{% endblock %}

{% block license %}Licence{% endblock %}
{% block license-desk %}Licence{% endblock %}

{% block pay %}PLATBA{% endblock %}

{% block adv2 %}
	{% if casino.adv1 %}<li>{{ casino.adv1 }}</li>{% endif %}
	{% if casino.adv2 %}<li>{{ casino.adv2 }}</li>{% endif %}
	{% if casino.adv3 %}<li>{{ casino.adv3 }}</li>{% endif %}
{% endblock %}

{% block play %}HRÁT TEĎ{% endblock %}

{% block copy %}Všechna Práva Vyhrazena{% endblock %}