{% extends "country.html" %}
{% load linkbuilder %}

{% block link %}{% if gambler_id != 0 and casino.link_fi %}{{ casino.link_fi | build:gambler_id }}{% else %}{{ casino.link_fi }}{% endif %}{% endblock %}
{% block link0 %}{% if gambler_id != 0 and casino.link_fi %}{{ casino.link_fi | build:gambler_id }}{% else %}{{ casino.link_fi }}{% endif %}{% endblock %}
{% block link1 %}{% if gambler_id != 0 and casino.link_fi %}{{ casino.link_fi | build:gambler_id }}{% else %}{{ casino.link_fi }}{% endif %}{% endblock %}
{% block link1-1 %}{% if gambler_id != 0 and casino.link_fi %}{{ casino.link_fi | build:gambler_id }}{% else %}{{ casino.link_fi }}{% endif %}{% endblock %}
{% block link2 %}{% if gambler_id != 0 and casino.link_fi %}{{ casino.link_fi | build:gambler_id }}{% else %}{{ casino.link_fi }}{% endif %}{% endblock %}
{% block link3 %}{% if gambler_id != 0 and casino.link_fi %}{{ casino.link_fi | build:gambler_id }}{% else %}{{ casino.link_fi }}{% endif %}{% endblock %}
{% block link4 %}{% if gambler_id != 0 and casino.link_fi %}{{ casino.link_fi | build:gambler_id }}{% else %}{{ casino.link_fi }}{% endif %}{% endblock %}
{% block link5 %}{% if gambler_id != 0 and casino.link_fi %}{{ casino.link_fi | build:gambler_id }}{% else %}{{ casino.link_fi }}{% endif %}{% endblock %}
{% block link6 %}{% if gambler_id != 0 and casino.link_fi %}{{ casino.link_fi | build:gambler_id }}{% else %}{{ casino.link_fi }}{% endif %}{% endblock %}

{% block title %}Parhaat online kasinot Suomessa{% endblock %}

{% block welcome %}Welcome Bonus{% endblock %}

{% block button %}Get Free{% endblock %}

{% block button1 %}Get Free{% endblock %}

{% block bonus %}BONUS{% endblock %}

{% block fs %}ILMAISKIERROSTA{% endblock %}

{% block info %}INFO{% endblock %}

{% block adv %}
	{% if casino.adv1_fi %}<li>{{ casino.adv1_fi }}</li>{% endif %}
	{% if casino.adv2_fi %}<li>{{ casino.adv2_fi }}</li>{% endif %}
	{% if casino.adv3_fi %}<li>{{ casino.adv3_fi }}</li>{% endif %}
{% endblock %}

{% block mindep %}Vähimmäistalletus{% endblock %}

{% block license %}Lisenssi{% endblock %}

{% block pay %}MAKSUJÄRJESTELMÄ{% endblock %}

{% block adv2 %}
	{% if casino.adv1_fi %}<li>{{ casino.adv1_fi }}</li>{% endif %}
	{% if casino.adv2_fi %}<li>{{ casino.adv2_fi }}</li>{% endif %}
	{% if casino.adv3_fi %}<li>{{ casino.adv3_fi }}</li>{% endif %}
{% endblock %}

{% block payments %}
	{% for pay in casino.pay_fi.all %}
		{% if forloop.counter <= 9 %}
		<a href="{% if gambler_id != 0 and casino.link_fi %}{{ casino.link_fi | build:gambler_id }}{% else %}{{ casino.link_fi }}{% endif %}" target="_blank">
			<img class="game-card__bank-img" src="{{ pay.logo.url }}" title="{{ pay.name }}" alt="{{ pay.name }}" />
		</a>
		{% endif %}
	{% endfor %}
{% endblock %}

{% block play %}SOITA NYT{% endblock %}

{% block copy %}Kaikki Oikeudet Pidätetään{% endblock %}