{% extends "country.html" %}
{% load linkbuilder %}

{% block link %}{% if gambler_id != 0 and casino.link_gr %}{{ casino.link_gr | build:gambler_id }}{% else %}{{ casino.link_gr }}{% endif %}{% endblock %}
{% block link0 %}{% if gambler_id != 0 and casino.link_gr %}{{ casino.link_gr | build:gambler_id }}{% else %}{{ casino.link_gr }}{% endif %}{% endblock %}
{% block link1 %}{% if gambler_id != 0 and casino.link_gr %}{{ casino.link_gr | build:gambler_id }}{% else %}{{ casino.link_gr }}{% endif %}{% endblock %}
{% block link1-1 %}{% if gambler_id != 0 and casino.link_gr %}{{ casino.link_gr | build:gambler_id }}{% else %}{{ casino.link_gr }}{% endif %}{% endblock %}
{% block link2 %}{% if gambler_id != 0 and casino.link_gr %}{{ casino.link_gr | build:gambler_id }}{% else %}{{ casino.link_gr }}{% endif %}{% endblock %}
{% block link3 %}{% if gambler_id != 0 and casino.link_gr %}{{ casino.link_gr | build:gambler_id }}{% else %}{{ casino.link_gr }}{% endif %}{% endblock %}
{% block link4 %}{% if gambler_id != 0 and casino.link_gr %}{{ casino.link_gr | build:gambler_id }}{% else %}{{ casino.link_gr }}{% endif %}{% endblock %}
{% block link5 %}{% if gambler_id != 0 and casino.link_gr %}{{ casino.link_gr | build:gambler_id }}{% else %}{{ casino.link_gr }}{% endif %}{% endblock %}
{% block link6 %}{% if gambler_id != 0 and casino.link_gr %}{{ casino.link_gr | build:gambler_id }}{% else %}{{ casino.link_gr }}{% endif %}{% endblock %}

{% block title %}Τα καλύτερα online καζίνο στην Ελλάδα{% endblock %}

{% block welcome %}Welcome Bonus{% endblock %}

{% block button %}Get Free{% endblock %}

{% block button1 %}Get Free{% endblock %}

{% block bonus %}ΜΠΌΝΟΥΣ{% endblock %}

{% block fs %}ΔΩΡΕΆΝ ΠΕΡΙΣΤΡΟΦΉ{% endblock %}

{% block info %}ΠΛΗΡΟΦΟΡΊΕΣ{% endblock %}

{% block adv %}
	{% if casino.adv1_gr %}<li>{{ casino.adv1_gr }}</li>{% endif %}
	{% if casino.adv2_gr %}<li>{{ casino.adv2_gr }}</li>{% endif %}
	{% if casino.adv3_gr %}<li>{{ casino.adv3_gr }}</li>{% endif %}
{% endblock %}

{% block mindep %}Ελάχιστη κατάθεση{% endblock %}

{% block license %}Άδεια{% endblock %}

{% block pay %}ΣΎΣΤΗΜΑ ΠΛΗΡΩΜΏΝ{% endblock %}

{% block adv2 %}
	{% if casino.adv1_gr %}<li>{{ casino.adv1_gr }}</li>{% endif %}
	{% if casino.adv2_gr %}<li>{{ casino.adv2_gr }}</li>{% endif %}
	{% if casino.adv3_gr %}<li>{{ casino.adv3_gr }}</li>{% endif %}
{% endblock %}

{% block payments %}
	{% for pay in casino.pay_gr.all %}
		{% if forloop.counter <= 9 %}
		<a href="{% if gambler_id != 0 and casino.link_gr %}{{ casino.link_gr | build:gambler_id }}{% else %}{{ casino.link_gr }}{% endif %}" target="_blank">
			<img class="game-card__bank-img" src="{{ pay.logo.url }}" title="{{ pay.name }}" alt="{{ pay.name }}" />
		</a>
		{% endif %}
	{% endfor %}
{% endblock %}

{% block play %}ΠΑΊΞΤΕ ΤΏΡΑ{% endblock %}

{% block copy %}Όλα Τα Δικαιώματα Διατηρούνται{% endblock %}