{% extends "country.html" %}
{% load linkbuilder %}

{% block link %}{% if gambler_id != 0 and casino.link_hu %}{{ casino.link_hu | build:gambler_id }}{% else %}{{ casino.link_hu }}{% endif %}{% endblock %}
{% block link0 %}{% if gambler_id != 0 and casino.link_hu %}{{ casino.link_hu | build:gambler_id }}{% else %}{{ casino.link_hu }}{% endif %}{% endblock %}
{% block link1 %}{% if gambler_id != 0 and casino.link_hu %}{{ casino.link_hu | build:gambler_id }}{% else %}{{ casino.link_hu }}{% endif %}{% endblock %}
{% block link1-1 %}{% if gambler_id != 0 and casino.link_hu %}{{ casino.link_hu | build:gambler_id }}{% else %}{{ casino.link_hu }}{% endif %}{% endblock %}
{% block link2 %}{% if gambler_id != 0 and casino.link_hu %}{{ casino.link_hu | build:gambler_id }}{% else %}{{ casino.link_hu }}{% endif %}{% endblock %}
{% block link3 %}{% if gambler_id != 0 and casino.link_hu %}{{ casino.link_hu | build:gambler_id }}{% else %}{{ casino.link_hu }}{% endif %}{% endblock %}
{% block link4 %}{% if gambler_id != 0 and casino.link_hu %}{{ casino.link_hu | build:gambler_id }}{% else %}{{ casino.link_hu }}{% endif %}{% endblock %}
{% block link5 %}{% if gambler_id != 0 and casino.link_hu %}{{ casino.link_hu | build:gambler_id }}{% else %}{{ casino.link_hu }}{% endif %}{% endblock %}
{% block link6 %}{% if gambler_id != 0 and casino.link_hu %}{{ casino.link_hu | build:gambler_id }}{% else %}{{ casino.link_hu }}{% endif %}{% endblock %}

{% block title %}A legjobb online kaszinók Magyarországon{% endblock %}

{% block welcome %}Welcome Bonus{% endblock %}

{% block button %}Get Free{% endblock %}

{% block button1 %}Get Free{% endblock %}

{% block bonus %}BÓNUSZ{% endblock %}

{% block fs %}INGYENES PÖRGÉS{% endblock %}

{% block info %}INFORMÁCIÓ{% endblock %}

{% block adv %}
	{% if casino.adv1_hu %}<li>{{ casino.adv1_hu }}</li>{% endif %}
	{% if casino.adv2_hu %}<li>{{ casino.adv2_hu }}</li>{% endif %}
	{% if casino.adv3_hu %}<li>{{ casino.adv3_hu }}</li>{% endif %}
{% endblock %}

{% block mindep %}Min letét{% endblock %}

{% block license %}Engedély{% endblock %}

{% block pay %}FIZETÉSI RENDSZER{% endblock %}

{% block adv2 %}
	{% if casino.adv1_hu %}<li>{{ casino.adv1_hu }}</li>{% endif %}
	{% if casino.adv2_hu %}<li>{{ casino.adv2_hu }}</li>{% endif %}
	{% if casino.adv3_hu %}<li>{{ casino.adv3_hu }}</li>{% endif %}
{% endblock %}

{% block payments %}
	{% for pay in casino.pay_hu.all %}
		{% if forloop.counter <= 9 %}
		<a href="{% if gambler_id != 0 and casino.link_hu %}{{ casino.link_hu | build:gambler_id }}{% else %}{{ casino.link_hu }}{% endif %}" target="_blank">
			<img class="game-card__bank-img" src="{{ pay.logo.url }}" title="{{ pay.name }}" alt="{{ pay.name }}" />
		</a>
		{% endif %}
	{% endfor %}
{% endblock %}

{% block play %}JÁTSSZ MOST{% endblock %}

{% block copy %}Minden jog fenntartva{% endblock %}