{% extends "country.html" %}
{% load linkbuilder %}

{% block link %}{% if gambler_id != 0 and casino.link_id %}{{ casino.link_id | build:gambler_id }}{% else %}{{ casino.link_id }}{% endif %}{% endblock %}
{% block link0 %}{% if gambler_id != 0 and casino.link_id %}{{ casino.link_id | build:gambler_id }}{% else %}{{ casino.link_id }}{% endif %}{% endblock %}
{% block link1 %}{% if gambler_id != 0 and casino.link_id %}{{ casino.link_id | build:gambler_id }}{% else %}{{ casino.link_id }}{% endif %}{% endblock %}
{% block link1-1 %}{% if gambler_id != 0 and casino.link_id %}{{ casino.link_id | build:gambler_id }}{% else %}{{ casino.link_id }}{% endif %}{% endblock %}
{% block link2 %}{% if gambler_id != 0 and casino.link_id %}{{ casino.link_id | build:gambler_id }}{% else %}{{ casino.link_id }}{% endif %}{% endblock %}
{% block link3 %}{% if gambler_id != 0 and casino.link_id %}{{ casino.link_id | build:gambler_id }}{% else %}{{ casino.link_id }}{% endif %}{% endblock %}
{% block link4 %}{% if gambler_id != 0 and casino.link_id %}{{ casino.link_id | build:gambler_id }}{% else %}{{ casino.link_id }}{% endif %}{% endblock %}
{% block link5 %}{% if gambler_id != 0 and casino.link_id %}{{ casino.link_id | build:gambler_id }}{% else %}{{ casino.link_id }}{% endif %}{% endblock %}
{% block link6 %}{% if gambler_id != 0 and casino.link_id %}{{ casino.link_id | build:gambler_id }}{% else %}{{ casino.link_id }}{% endif %}{% endblock %}

{% block title %}Kasino daring terbaik di Indonesia{% endblock %}

{% block welcome %}Welcome Bonus{% endblock %}

{% block button %}Get Free{% endblock %}

{% block button1 %}Get Free{% endblock %}

{% block bonus %}BONUS{% endblock %}

{% block fs %}SPIN BEBAS{% endblock %}

{% block info %}INFO{% endblock %}

{% block adv %}
	{% if casino.adv1_id %}<li>{{ casino.adv1_id }}</li>{% endif %}
	{% if casino.adv2_id %}<li>{{ casino.adv2_id }}</li>{% endif %}
	{% if casino.adv3_id %}<li>{{ casino.adv3_id }}</li>{% endif %}
{% endblock %}

{% block mindep %}Min deposit{% endblock %}

{% block license %}Lisensi{% endblock %}

{% block pay %}SISTEM PEMBAYARAN{% endblock %}

{% block adv2 %}
	{% if casino.adv1_id %}<li>{{ casino.adv1_id }}</li>{% endif %}
	{% if casino.adv2_id %}<li>{{ casino.adv2_id }}</li>{% endif %}
	{% if casino.adv3_id %}<li>{{ casino.adv3_id }}</li>{% endif %}
{% endblock %}

{% block payments %}
	{% for pay in casino.pay_id.all %}
		{% if forloop.counter <= 9 %}
		<a href="{% if gambler_id != 0 and casino.link_id %}{{ casino.link_id | build:gambler_id }}{% else %}{{ casino.link_id }}{% endif %}" target="_blank">
			<img class="game-card__bank-img" src="{{ pay.logo.url }}" title="{{ pay.name }}" alt="{{ pay.name }}" />
		</a>
		{% endif %}
	{% endfor %}
{% endblock %}

{% block play %}MAINKAN SEKARANG{% endblock %}

{% block copy %}Semua Hak Dicadangkan{% endblock %}