{% extends "country.html" %}
{% load linkbuilder %}

{% block link %}{% if gambler_id != 0 and casino.link_in %}{{ casino.link_in | build:gambler_id }}{% else %}{{ casino.link_in }}{% endif %}{% endblock %}
{% block link0 %}{% if gambler_id != 0 and casino.link_in %}{{ casino.link_in | build:gambler_id }}{% else %}{{ casino.link_in }}{% endif %}{% endblock %}
{% block link1 %}{% if gambler_id != 0 and casino.link_in %}{{ casino.link_in | build:gambler_id }}{% else %}{{ casino.link_in }}{% endif %}{% endblock %}
{% block link1-1 %}{% if gambler_id != 0 and casino.link_in %}{{ casino.link_in | build:gambler_id }}{% else %}{{ casino.link_in }}{% endif %}{% endblock %}
{% block link2 %}{% if gambler_id != 0 and casino.link_in %}{{ casino.link_in | build:gambler_id }}{% else %}{{ casino.link_in }}{% endif %}{% endblock %}
{% block link3 %}{% if gambler_id != 0 and casino.link_in %}{{ casino.link_in | build:gambler_id }}{% else %}{{ casino.link_in }}{% endif %}{% endblock %}
{% block link4 %}{% if gambler_id != 0 and casino.link_in %}{{ casino.link_in | build:gambler_id }}{% else %}{{ casino.link_in }}{% endif %}{% endblock %}
{% block link5 %}{% if gambler_id != 0 and casino.link_in %}{{ casino.link_in | build:gambler_id }}{% else %}{{ casino.link_in }}{% endif %}{% endblock %}
{% block link6 %}{% if gambler_id != 0 and casino.link_in %}{{ casino.link_in | build:gambler_id }}{% else %}{{ casino.link_in }}{% endif %}{% endblock %}

{% block title %}में सर्वश्रेष्ठ ऑनलाइन कैसीनो  भारत{% endblock %}

{% block welcome %}Welcome Bonus{% endblock %}

{% block button %}Get Free{% endblock %}

{% block button1 %}Get Free{% endblock %}

{% block bonus %}बोनस{% endblock %}

{% block fs %}मुक्त स्पिन{% endblock %}

{% block info %}जानकारी{% endblock %}

{% block adv %}
	{% if casino.adv1_in %}<li>{{ casino.adv1_in }}</li>{% endif %}
	{% if casino.adv2_in %}<li>{{ casino.adv2_in }}</li>{% endif %}
	{% if casino.adv3_in %}<li>{{ casino.adv3_in }}</li>{% endif %}
{% endblock %}

{% block mindep %}न्यूनतम जमा{% endblock %}

{% block license %}लाइसेंस{% endblock %}

{% block pay %}भुगतान प्रणाली{% endblock %}

{% block adv2 %}
	{% if casino.adv1_in %}<li>{{ casino.adv1_in }}</li>{% endif %}
	{% if casino.adv2_in %}<li>{{ casino.adv2_in }}</li>{% endif %}
	{% if casino.adv3_in %}<li>{{ casino.adv3_in }}</li>{% endif %}
{% endblock %}

{% block payments %}
	{% for pay in casino.pay_in.all %}
		{% if forloop.counter <= 9 %}
		<a href="{% if gambler_id != 0 and casino.link_in %}{{ casino.link_in | build:gambler_id }}{% else %}{{ casino.link_in }}{% endif %}" target="_blank">
			<img class="game-card__bank-img" src="{{ pay.logo.url }}" title="{{ pay.name }}" alt="{{ pay.name }}" />
		</a>
		{% endif %}
	{% endfor %}
{% endblock %}

{% block play %}अब खेलें{% endblock %}

{% block copy %}सभी अधिकार सुरक्षित{% endblock %}