{% extends "country.html" %}
{% load linkbuilder %}

{% block lang %}it{% endblock %}

{% block title %}I migliori Casinò Online in Italia{% endblock %}

{% block welcome %}Welcome Bonus{% endblock %}

{% block button %}Get Free{% endblock %}

{% block button1 %}Get Free{% endblock %}

{% block bonus %}BONUS{% endblock %}

{% block fs %}FREE SPIN{% endblock %}

{% block info %}INFORMAZIONE{% endblock %}

{% block adv %}
	{% if casino.adv1 %}<li>{{ casino.adv1 }}</li>{% endif %}
	{% if casino.adv2 %}<li>{{ casino.adv2 }}</li>{% endif %}
	{% if casino.adv3 %}<li>{{ casino.adv3 }}</li>{% endif %}
{% endblock %}

{% block mindep %}Dep min{% endblock %}

{% block license %}Licenza{% endblock %}

{% block pay %}SISTEMA DI PAGAMENTO{% endblock %}

{% block adv2 %}
	{% if casino.adv1 %}<li>{{ casino.adv1 }}</li>{% endif %}
	{% if casino.adv2 %}<li>{{ casino.adv2 }}</li>{% endif %}
	{% if casino.adv3 %}<li>{{ casino.adv3 }}</li>{% endif %}
{% endblock %}

{% block play %}GIOCA ORA{% endblock %}

{% block copy %}Tutti i diritti riservati{% endblock %}