{% extends "country.html" %}
{% load linkbuilder %}

{% block link %}{% if gambler_id != 0 and casino.link_pk %}{{ casino.link_pk | build:gambler_id }}{% else %}{{ casino.link_pk }}{% endif %}{% endblock %}
{% block link0 %}{% if gambler_id != 0 and casino.link_pk %}{{ casino.link_pk | build:gambler_id }}{% else %}{{ casino.link_pk }}{% endif %}{% endblock %}
{% block link1 %}{% if gambler_id != 0 and casino.link_pk %}{{ casino.link_pk | build:gambler_id }}{% else %}{{ casino.link_pk }}{% endif %}{% endblock %}
{% block link1-1 %}{% if gambler_id != 0 and casino.link_pk %}{{ casino.link_pk | build:gambler_id }}{% else %}{{ casino.link_pk }}{% endif %}{% endblock %}
{% block link2 %}{% if gambler_id != 0 and casino.link_pk %}{{ casino.link_pk | build:gambler_id }}{% else %}{{ casino.link_pk }}{% endif %}{% endblock %}
{% block link3 %}{% if gambler_id != 0 and casino.link_pk %}{{ casino.link_pk | build:gambler_id }}{% else %}{{ casino.link_pk }}{% endif %}{% endblock %}
{% block link4 %}{% if gambler_id != 0 and casino.link_pk %}{{ casino.link_pk | build:gambler_id }}{% else %}{{ casino.link_pk }}{% endif %}{% endblock %}
{% block link5 %}{% if gambler_id != 0 and casino.link_pk %}{{ casino.link_pk | build:gambler_id }}{% else %}{{ casino.link_pk }}{% endif %}{% endblock %}
{% block link6 %}{% if gambler_id != 0 and casino.link_pk %}{{ casino.link_pk | build:gambler_id }}{% else %}{{ casino.link_pk }}{% endif %}{% endblock %}

{% block title %}بہترین آن لائن جوئے بازی کے اڈوں میں پاکستان{% endblock %}

{% block welcome %}Welcome Bonus{% endblock %}

{% block button %}Get Free{% endblock %}

{% block button1 %}Get Free{% endblock %}

{% block bonus %}بونس{% endblock %}

{% block fs %}مفت گھماؤ{% endblock %}

{% block info %}معلومات{% endblock %}

{% block adv %}
	{% if casino.adv1_pk %}<li>{{ casino.adv1_pk }}</li>{% endif %}
	{% if casino.adv2_pk %}<li>{{ casino.adv2_pk }}</li>{% endif %}
	{% if casino.adv3_pk %}<li>{{ casino.adv3_pk }}</li>{% endif %}
{% endblock %}

{% block mindep %}کم از کم ڈپازٹ{% endblock %}

{% block license %}لائسنس{% endblock %}

{% block pay %}ادائیگی کے نظام{% endblock %}

{% block adv2 %}
	{% if casino.adv1_pk %}<li>{{ casino.adv1_pk }}</li>{% endif %}
	{% if casino.adv2_pk %}<li>{{ casino.adv2_pk }}</li>{% endif %}
	{% if casino.adv3_pk %}<li>{{ casino.adv3_pk }}</li>{% endif %}
{% endblock %}

{% block payments %}
	{% for pay in casino.pay_pk.all %}
		{% if forloop.counter <= 9 %}
		<a href="{% if gambler_id != 0 and casino.link_pk %}{{ casino.link_pk | build:gambler_id }}{% else %}{{ casino.link_pk }}{% endif %}" target="_blank">
			<img class="game-card__bank-img" src="{{ pay.logo.url }}" title="{{ pay.name }}" alt="{{ pay.name }}" />
		</a>
		{% endif %}
	{% endfor %}
{% endblock %}

{% block play %}اب کھیلیں{% endblock %}

{% block copy %}تمام حقوق محفوظ ہیں{% endblock %}