{% extends "country.html" %}
{% load linkbuilder %}

{% block link %}{% if gambler_id != 0 and casino.link_za %}{{ casino.link_za | build:gambler_id }}{% else %}{{ casino.link_za }}{% endif %}{% endblock %}
{% block link0 %}{% if gambler_id != 0 and casino.link_za %}{{ casino.link_za | build:gambler_id }}{% else %}{{ casino.link_za }}{% endif %}{% endblock %}
{% block link1 %}{% if gambler_id != 0 and casino.link_za %}{{ casino.link_za | build:gambler_id }}{% else %}{{ casino.link_za }}{% endif %}{% endblock %}
{% block link1-1 %}{% if gambler_id != 0 and casino.link_za %}{{ casino.link_za | build:gambler_id }}{% else %}{{ casino.link_za }}{% endif %}{% endblock %}
{% block link2 %}{% if gambler_id != 0 and casino.link_za %}{{ casino.link_za | build:gambler_id }}{% else %}{{ casino.link_za }}{% endif %}{% endblock %}
{% block link3 %}{% if gambler_id != 0 and casino.link_za %}{{ casino.link_za | build:gambler_id }}{% else %}{{ casino.link_za }}{% endif %}{% endblock %}
{% block link4 %}{% if gambler_id != 0 and casino.link_za %}{{ casino.link_za | build:gambler_id }}{% else %}{{ casino.link_za }}{% endif %}{% endblock %}
{% block link5 %}{% if gambler_id != 0 and casino.link_za %}{{ casino.link_za | build:gambler_id }}{% else %}{{ casino.link_za }}{% endif %}{% endblock %}
{% block link6 %}{% if gambler_id != 0 and casino.link_za %}{{ casino.link_za | build:gambler_id }}{% else %}{{ casino.link_za }}{% endif %}{% endblock %}

{% block title %}Beste Onlinecasinos in Suid-Afrika{% endblock %}

{% block welcome %}Welcome Bonus{% endblock %}

{% block button %}Get Free{% endblock %}

{% block button1 %}Get Free{% endblock %}

{% block bonus %}BONUS{% endblock %}

{% block fs %}GRATIS SPIN{% endblock %}

{% block info %}INFO{% endblock %}

{% block adv %}
	{% if casino.adv1_za %}<li>{{ casino.adv1_za }}</li>{% endif %}
	{% if casino.adv2_za %}<li>{{ casino.adv2_za }}</li>{% endif %}
	{% if casino.adv3_za %}<li>{{ casino.adv3_za }}</li>{% endif %}
{% endblock %}

{% block mindep %}Min deposito{% endblock %}

{% block license %}Lisensie{% endblock %}

{% block pay %}BETALING STELSEL{% endblock %}

{% block adv2 %}
	{% if casino.adv1_za %}<li>{{ casino.adv1_za }}</li>{% endif %}
	{% if casino.adv2_za %}<li>{{ casino.adv2_za }}</li>{% endif %}
	{% if casino.adv3_za %}<li>{{ casino.adv3_za }}</li>{% endif %}
{% endblock %}

{% block payments %}
	{% for pay in casino.pay_za.all %}
		{% if forloop.counter <= 9 %}
		<a href="{% if gambler_id != 0 and casino.link_za %}{{ casino.link_za | build:gambler_id }}{% else %}{{ casino.link_za }}{% endif %}" target="_blank">
			<img class="game-card__bank-img" src="{{ pay.logo.url }}" title="{{ pay.name }}" alt="{{ pay.name }}" />
		</a>
		{% endif %}
	{% endfor %}
{% endblock %}

{% block play %}SPEEL NOU{% endblock %}

{% block copy %}Alle Regte Voorbehou{% endblock %}